<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ general.title }}</title>

<meta property="og:site_name" content="{{ general.name }}">
<meta name="twitter:site" content="{{ general.name }}">

<meta name="twitter:url" content="{{ general.url }}">
<meta property="og:url" content="{{ general.url }}">

<link rel="canonical" href="{{ general.url }}">
<meta property="og:type" content="website">

<meta name="twitter:title" content="{{ general.title }}">
<meta property="og:title" content="{{ general.title }}">

<meta property="og:image" content="{{ general.logo }}">
<meta property="twitter:image" content="{{ general.logo }}">
<meta name="twitter:card" content="summary_large_image">

<meta name="description" content="{{ general.description }}">
<meta property="og:description" content="{{ general.description }}">
<meta name="twitter:description" content="{{ general.description }}">
<meta itemprop="description" content="{{ general.description }}">
